<?py _context['title'] = '搜小说: 提交未收录小说信息' ?>
<div style="">
<form method="post" action="/commom/bookinfo/save" id="add_bookinfo" onsubmit="return false;">
    <div style="text-align: center;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 40%; text-align: right;">小说名: </td>
                <td style="width: 60%; text-align: left;">
                    <span style="font-size: 14px;" align="left">
                        <input name="book_name" type="text" placeholder="小说名" id="book_name">
                    </span>
                    <span style="color:red;">* 必填</span>
                </td>
            </tr>
            <tr>
                <td style="width: 40%; text-align: right;">首发站点: </td>
                <td style="width: 60%; text-align: left;">
                    <span style="font-size: 14px;" align="left">
                        <select name="first_site" style="WIDTH: 100">
                            <option value="qd" selected="selected">起点中文网</option>
                            <option value="cs">创世中文网</option>
                            <option value="k17">17k小说网</option>
                            <option value="zh">纵横中文网</option>
                        </select>
                    </span>
                    <span style="color:red;">* 必填</span>
                </td>
            </tr>
            <tr>
                <td style="width: 40%; text-align: right;">首发站链接: </td>
                <td style="width: 60%; text-align: left;">
                    <span style="font-size: 14px;" align="left">
                        <input name="first_url" type="text" placeholder="首发站链接" id="first_url">
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 40%; text-align: right;">作者: </td>
                <td style="width: 60%; text-align: left;">
                    <span style="font-size: 14px;" align="left">
                        <input name="author_name" type="text" placeholder="作者" id="author_name">
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan='2'>
                    <span style="font-size: 14px;" align="left">
                        <input type="button" value="提交" onclick="add_bookinfo_func();">
                    </span>
                </td>
            </tr>
        </table>
    </div>
</form>
</div>
